/* containers */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

body {
    background-color: #f8d490;
    accent-color: #000;
}

.container {
    position: relative;
    margin-top: 35px;
    margin-bottom: 50px;
    text-align: center;
}

.display_categories {
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    width: 80%;
    background-color: #eeeeeeb0;
    border-radius: 15px;
    border: 2px solid #000;
}

#display_activity {
    margin: auto;
    margin-top: 30px;
    width: 80%;
    height: auto;
    /* height: 325px; */
    background-color: #eeeeeeb0;
    border-radius: 15px;
    border: 2px solid #000;
}

#change-theme {
    background-color: #eeeeeeb0;
    border-radius: 15px;
    border: 2px solid #000;
    display: inline-block;
    margin: 20px;
}


/* font and text */

p {
    color: #000;
    text-align: center;
}

#heading {
    font-size: 3em;
    text-align: center;
    font-family: 'Martian Mono', monospace;
}

#info {
    max-width: 70%;
    padding: 20px;
    margin: 0 auto;
    font-size: 15px;
    color: #000;
}

#bold-info {
    font-weight: 500;
    font-size: 20px;
}

#category {
    margin-top: 30px;
    font-size: 20px;
}

#activity {
    margin-top: 22px;
    font-size: 40px;
    margin-bottom: 22px;
}

#error-msg {
    color: red;
    display: none;
}



/* buttons */

.buttons {
    margin-top: 5px;
}

button {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 13px;
    color: #2e2e2d;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#random {
    background-color: #f8d490;
}

#chosen_category {
    background-color: #fff;
}

.fa-solid {
    padding-right: 8px;
    font-size: 20px;
}

input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}

label {
    margin-right: 18px;
    font-size: 17px;
    vertical-align: middle;
    color: #2e2e2d;
}

.radio_buttons {
    display: inline-block;
    margin: 8px;
}

/* Theme Buttons */

#dark {
    background-color: #2b2b2b;
}

#purple {
    background-color: #e2b4de;
}

#orange {
    background-color: #f8d490;
}

#blue {
    background-color: #adcee9;
}

#green {
    background-color: #bdd396;
}
